{% extends "layout.html" %}
{% block content %}
    {% for employee in employees %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h4><a class="article-title" href="#">Employee: {{ employee['first_name'] }} {{ employee['second_name'] }}</a></h4>
              <small class="text-muted"></small>
            </div>
            <p class="article-content">
            Position: {{ employee['types'] }}<br />
            Experience: {{ employee['experience'] }} years<br />
            Salary: {{ employee['salary'] }}$</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
